* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.a {
  background-color: #253c78;
}
html,
body {
  max-width: 100vw;
  font-family: "Courier New";
}

body {
  color: #ffffff;
  background: #0c0c0e;
  cursor: none;
}

@-webkit-keyframes repeatit {
  from {
    left: -50%;
  }
  to {
    left: 0;
  }
}
@keyframes repeatit {
  from {
    left: -50%;
  }
  to {
    left: 0;
  }
}
.gradient {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.785),
    rgba(0, 0, 0, 0.583)
  );
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
}
.gradient-hover {
  background: transparent;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: transparent;
}
.gradient-green {
  background: linear-gradient(to bottom right, #001900, #005c00);
}
.gradient-hover-blue {
  background: linear-gradient(to bottom right, rgb(0, 42, 56), rgb(0, 98, 113));
}

.GR-movie {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.158),
    rgba(0, 0, 0, 0.046)
  );
  width: 25vw;
  height: 68vh;
  position: absolute;
  z-index: 1;
  pointer-events: none;
  border-radius: 1rem;
}
.GR-team {
  background: linear-gradient(to right, rgb(0, 58, 0), #c3ff00, rgb(0, 59, 0));
}
.fade-in-section {
  opacity: 0;
  transform: translate(20vw);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1500ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
.letter-border {
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0);
}
